.start-screen {
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 100vh;
        object-fit: cover;
    }
}

.start-label-component {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 350px;
    display: flex;
    justify-content: center;
    button {
        cursor: pointer;
        width: 10.5rem;
        height: auto;
        border-radius: 1rem;
        background-color: burlywood;
        &:hover {
            background-color: rgb(134, 109, 76);
        }
        &:active {
            background-color: rgb(124, 92, 46);;
        }
    }
}