.start-screen {
    background-color: #404040;
    background-image: url("./../../assets/img/card.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.start-label-component {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    button {
        cursor: pointer;
        width: 7rem;
        height: 2rem;
        border-radius: 1rem;
        background-color: burlywood;
        &:hover {
            background-color: rgb(134, 109, 76);
        }
        &:active {
            background-color: rgb(124, 92, 46);;
        }
    }
}